<a href="https://colab.research.google.com/github/Haritsalhasyir/PEMOGRAMAN-DASAR/blob/main/pertemuan3_untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total =float(input("Berapa porsi makan yang anda beli?  "))
nama = str(input("Siapa nama pelanggan ? : "))

print("---daftar transaksi---")
print("jumlah porsi", total)
print("nama pelanggan", nama)

Berapa porsi makan yang anda beli?  10
Siapa nama pelanggan ? : harits
---daftar transaksi---
jumlah porsi 10.0
nama pelanggan harits

In [ ]:
food = "mi ayam bakso"
jumlah = 2
harga = 15000.75
angka = 255

# %s = string
print("Harits sedang memesan %s" % (food))

# %d = integer
print("Harits membeli %d porsi" % (jumlah))

# %f = float
print("Harga satu porsi = %f" % (harga))
print("Harga satu porsi (dibulatkan 2 angka) = %.2f" % (harga))

# %x = hexadecimal
print("Angka %d dalam heksadesimal adalah %x" % (angka, angka))

# %o = octal
print("Angka %d dalam oktal adalah %o" % (angka, angka))

Harits sedang memesan mi ayam bakso
Harits membeli 2 porsi
Harga satu porsi = 15000.750000
Harga satu porsi (dibulatkan 2 angka) = 15000.75
Angka 255 dalam heksadesimal adalah ff
Angka 255 dalam oktal adalah 377

In [ ]:
#kalkulator sederhana
a = 50
b = 5
print("penjumlahan:", a+b)
print("pengurangan:", a-b)
print("perkalian:", a*b)
print("pembagian:", a/b)
print("sisa bagi:", a%b)
print("pembulatan:", a/b )

penjumlahan: 55
pengurangan: 45
perkalian: 250
pembagian: 10.0
sisa bagi: 0
pembulatan: 10.0

In [ ]:
#kalkulator kasir
print("---belanjaan anda---")
nama_makanan = int(input("nasi goreng "))
nama_minuman = int(input("teh obeng"))
total = nama_makanan + nama_minuman
print("total harga = ", total)

---belanjaan anda---
nasi goreng 15000
teh obeng5000
total harga =  20000

In [ ]:
#Konversi waktu
total_detik = int(input("Masukkan detik: "))
jam=total_detik // 3600
sisa_detik = total_detik %3600
menit = sisa_detik // 60
detik = sisa_detik % 60

print(jam, "jam", menit, "menit", detik, "detik")

Masukkan detik: 358200
99 jam 30 menit 0 detik

In [ ]:
#menghitung nilai akhir mahasiswa
nilai_tugas = int(input("nilai tugas: "))
nilai_quiz = int(input("nilai quiz: "))
nilai_ats = int(input("nilai ats: "))
nilai_aas = int(input("nilai aas: "))
standar_kelulusan = int(input("nilai standart: "))

# Calculate the average score
nilai_rata_rata = (nilai_tugas + nilai_quiz + nilai_ats + nilai_aas) / 4

apakah_lulus = nilai_rata_rata >= standar_kelulusan
print("Nilai rata-rata:", nilai_rata_rata)
print("Apakah lulus:", apakah_lulus)

nilai tugas: 90
nilai quiz: 90
nilai ats: 90
nilai aas: 90
nilai standart: 90
Nilai rata-rata: 90.0
Apakah lulus: True

In [ ]:
belanja = 1500000
diskon = (0, 0.35 * belanja) [belanja > 1000000]
total_harga = belanja - diskon
# Output
print("Total belanja :", belanja)
print("Diskon        :", diskon)
print("Total harga setelah diskon =", total_harga)

Total belanja : 1500000
Diskon        : 525000.0
Total harga setelah diskon = 975000.0

In [ ]:
#LATIHAN
# Program menentukan tahun kabisat

# Fungsi input
tahun = int(input("Masukkan tahun: "))
kabisat = (tahun % 4 == 0 and tahun % 100 != 0) or (tahun % 400 == 0)

# Fungsi output
print("Apakah tahun %d tahun kabisat? %s" % (tahun, kabisat))

Masukkan tahun: 2024
Apakah tahun 2024 tahun kabisat? True

In [ ]:
# Program sederhana

# fungsi input
nama = input("Siapa namamu? ")
barang = input("Barang yang dibeli: ")
harga = float(input("Harga satuan barang: "))
jumlah = int(input("Jumlah barang: "))

# operasi aritmatika
total = harga * jumlah

# fungsi output
print("\n--- Struk Belanja ---")
print("Nama Pembeli :", nama)
print("Barang       :", barang)
print("Harga Satuan : Rp %.2f" % harga)
print("Jumlah       :", jumlah)
print("Total Bayar  : Rp %.2f" % total)

Siapa namamu? harits
Barang yang dibeli: buku gramedia
Harga satuan barang: 80000
Jumlah barang: 2

--- Struk Belanja ---
Nama Pembeli : harits
Barang       : buku gramedia
Harga Satuan : Rp 80,000.0
Jumlah       : 2
Total Bayar  : Rp 160,000.0

In [ ]:
# tugas

# 1. Input data
nama = input("Nama pelanggan : ")
member = input("Apakah Anda member? (ya/tidak): ").lower()
subtotal = int(input("Masukkan total belanja (Rp): "))
# 2. Evaluasi syarat diskon
syarat_diskon = (member == "ya") and (subtotal > 100000)
# 3. Hitung jumlah diskon
diskon = syarat_diskon * (0.15 * subtotal)
# 4. Hitung harga setelah diskon
harga_setelah_diskon = subtotal - diskon
# 5. Hitung PPN (11%)
ppn = 0.11 * harga_setelah_diskon
# 6. Hitung total akhir
total_akhir = harga_setelah_diskon + ppn
# Output struk
print("\n--- Struk Belanja ---")
print("Nama Pelanggan      :", nama)
print("Subtotal            : Rp", subtotal)
print("Diskon (15%)        : Rp", int(diskon))
print("Harga Setelah Diskon: Rp", int(harga_setelah_diskon))
print("PPN (11%)           : Rp", int(ppn))
print("Total Bayar         : Rp", int(total_akhir))

Nama pelanggan : HARITS
Apakah Anda member? (ya/tidak): YA
Masukkan total belanja (Rp): 180000

--- Struk Belanja ---
Nama Pelanggan      : HARITS
Subtotal            : Rp 180000
Diskon (15%)        : Rp 27000
Harga Setelah Diskon: Rp 153000
PPN (11%)           : Rp 16830
Total Bayar         : Rp 169830