<a href="https://colab.research.google.com/github/Haritsalhasyir/PEMOGRAMAN-DASAR/blob/main/praktik%20pertemuan3_Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total =float(input("Berapa porsi makan yang anda beli?  "))
nama = str(input("Siapa nama pelanggan ? : "))

print("---daftar transaksi---")
print("jumlah porsi", total)
print("nama pelanggan", nama)

Berapa porsi makan yang anda beli?  10
Siapa nama pelanggan ? : harits
---daftar transaksi---
jumlah porsi 10.0
nama pelanggan harits

In [ ]:
food = "mi ayam bakso"
jumlah = 2
harga = 15000.75
angka = 255

# %s = string
print("Harits sedang memesan %s" % (food))

# %d = integer
print("Harits membeli %d porsi" % (jumlah))

# %f = float
print("Harga satu porsi = %f" % (harga))
print("Harga satu porsi (dibulatkan 2 angka) = %.2f" % (harga))

# %x = hexadecimal
print("Angka %d dalam heksadesimal adalah %x" % (angka, angka))

# %o = octal
print("Angka %d dalam oktal adalah %o" % (angka, angka))

Harits sedang memesan mi ayam bakso
Harits membeli 2 porsi
Harga satu porsi = 15000.750000
Harga satu porsi (dibulatkan 2 angka) = 15000.75
Angka 255 dalam heksadesimal adalah ff
Angka 255 dalam oktal adalah 377

In [ ]:
#kalkulator sederhana
a = 50
b = 5
print("penjumlahan:", a+b)
print("pengurangan:", a-b)
print("perkalian:", a*b)
print("pembagian:", a/b)
print("sisa bagi:", a%b)
print("pembulatan:", a/b )

penjumlahan: 55
pengurangan: 45
perkalian: 250
pembagian: 10.0
sisa bagi: 0
pembulatan: 10.0

In [ ]:
#kalkulator kasir
print("---belanjaan anda---")
nama_makanan = int(input("nasi goreng "))
nama_minuman = int(input("teh obeng"))
total = nama_makanan + nama_minuman
print("total harga = ", total)

---belanjaan anda---
nasi goreng 15000
teh obeng5000
total harga =  20000

In [ ]:
#Konversi waktu
total_detik = int(input("Masukkan detik: "))
jam=total_detik // 3600
sisa_detik = total_detik %3600
menit = sisa_detik // 60
detik = sisa_detik % 60

print(jam, "jam", menit, "menit", detik, "detik")

Masukkan detik: 358200
99 jam 30 menit 0 detik

In [ ]:
#menghitung nilai akhir mahasiswa
nilai_tugas = int(input("nilai tugas: "))
nilai_quiz = int(input("nilai quiz: "))
nilai_ats = int(input("nilai ats: "))
nilai_aas = int(input("nilai aas: "))
standar_kelulusan = int(input("nilai standart: "))

# Calculate the average score
nilai_rata_rata = (nilai_tugas + nilai_quiz + nilai_ats + nilai_aas) / 4

apakah_lulus = nilai_rata_rata >= standar_kelulusan
print("Nilai rata-rata:", nilai_rata_rata)
print("Apakah lulus:", apakah_lulus)

nilai tugas: 90
nilai quiz: 90
nilai ats: 90
nilai aas: 90
nilai standart: 90
Nilai rata-rata: 90.0
Apakah lulus: True

In [ ]:
belanja = 1500000
diskon = (0, 0.35 * belanja) [belanja > 1000000]
total_harga = belanja - diskon
# Output
print("Total belanja :", belanja)
print("Diskon        :", diskon)
print("Total harga setelah diskon =", total_harga)

Total belanja : 1500000
Diskon        : 525000.0
Total harga setelah diskon = 975000.0